<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (content, head_additional)">
<head>

    <div th:replace="~{fragment/boot1/user_fragment :: head_html}"></div>
    <div th:replace="${head_additional}"></div>


</head>
<body>
<div th:replace="~{fragment/boot1/user_fragment :: navigation}"></div>

<div th:replace="${content}"></div>

<div th:replace="~{fragment/boot1/user_fragment :: footer}"></div>


    <script src="/javascript/lib/easing/easing.min.js" th:src="@{/javascript/lib/easing/easing.min.js}"></script>
    <script src="/javascript/boot1/main.js" th:src="@{/javascript/boot1/main.js}"></script>


</body>
</html>